.spotlight {
    height: 300px;
    background: url(../assets/spotlight-background.JPG) no-repeat center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.spotlight-heading {
    padding: 10px;
    margin: 0px;
}

.submit-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 480px;
    padding: 0 10px 0 10px;
}

.input-email {
    margin: 10px;
    padding: 10px;
    border: 0;
    width: 100%;
    transition: box-shadow 0.5s;
    outline: none;
}

.input-email:hover {
    box-shadow: 0 0 5px 0 rgb(209, 170, 12);
}

.input-email:focus {
    box-shadow: 0 0 5px 0 rgb(209, 170, 12);
}

.input-submit {
    margin: 10px;
    padding: 10px;
    border: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(242, 196, 14);
    transition: background-color 0.5s;
    cursor: pointer;
}

.input-submit:hover {
    background-color: rgb(209, 170, 12);
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.offers-heading {
    padding: 10px;
    margin: 0px;
}

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-logo {
    width: 100px;
    margin: 10px;
    display: inline-block;
}

.offer-description {
    margin: 10px;
}

.offer-title {
    margin: 10px 0;
}

.offer-text {
    margin: 10px 0;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.about-us-heading {
    padding: 10px;
    margin: 0px;
}

.about-us-video-block {
    width: 100%;
    max-width: 700px;
    padding: 10px;
}

.about-us-video {
    position: relative;
    padding-bottom: 56.26%;
    height: 0;
    overflow: hidden;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.prices-heading {
    padding: 10px;
    margin: 0px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #888888;
    margin: 10px;
    width: 100%;
}

.product-title {
    background-color: rgb(221, 221, 221);
    padding: 20px;
    border-bottom: 1px rgb(172, 172, 172) dotted;
    display: block;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-title-text {
    margin: 0px;
}

.product-description {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.product-previous-price {
    font-size: 14px;
    color: rgb(120, 120, 120);
    text-decoration: line-through;
}

.product-price {
    font-size: 18px;
}

.product-select {
    background-color: rgb(242, 196, 14);
    padding: 20px;
    border: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.5s, ;
    cursor: pointer;
}

.product-select:hover {
    background-color: rgb(209, 170, 12);
}

@media all and (max-width: 768px) {
    .offer {
        flex-wrap: wrap;
    }
    .products {
        flex-direction: column;
        padding: 10px;
    }
    .product {
        width: calc(100% - 10px);
    }
}

@media all and (min-width: 769px) {
    .product {
        width: calc(33.33333% - 20px);
    }
}