.footer {
    background-color: rgb(220, 220, 220);
    margin: 10px 0 0 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    text-align: right;
}

.footer-navigation {
    padding: 10px;
}

.copyright {
    padding: 0 20px 20px 20px;
}

@media all and (min-width: 768px) {
    .footer-container {
        align-items: center;
        flex-direction: row;
        text-align: center;
    }
    .copyright {
        padding: 0 20px 0 20px;
    }
}