.header {
    background-color: rgb(220, 220, 220);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-logo {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.menu-link {
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding: 10px;
    display: inline-block;
    transition: color 0.5s;
}

.menu-link:hover {
    color: rgb(50, 50, 50);
}

@media all and (min-width: 768px) {
    .header {
        justify-content: space-between;
        flex-direction: row;
    }
}